PrestaShop-PDF-customizer.bbprojectd/project.bbprojectdata
PrestaShop-PDF-customizer.bbprojectd/Wade.bbprojectsettings
PrestaShop-PDF-customizer.bbprojectd/Unix Worksheet.worksheet
PrestaShop-PDF-customizer.bbprojectd/Scratchpad.txt